#task:hover {
    background-color: lightgray;
    cursor: pointer;
    border-radius: 5px;
    color: white;
}

#task label:hover, #task input:hover{
    cursor: pointer;
}

#btn-delete:hover {
    color: darkred;
}

